In [4]:
import pandas as pd

In [5]:
# Visualizando dados que serão limpos 
data = pd.read_csv("ocorrencia_modificado.csv")
data.head()

,Unnamed: 0,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0
1,1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
2,2,45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06,13:00:00,0
3,3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,0
4,4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06,16:30:00,0

In [6]:
data.loc[1,'ocorrencia_cidade']

'GUARULHOS'

In [8]:
data.loc[1:3]

,Unnamed: 0,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
1,1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
2,2,45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06,13:00:00,0
3,3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,0

In [10]:
data.loc[[10,40]]

,Unnamed: 0,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
10,10,45332,45332,ACIDENTE,VIAMÃO,RS,****,2012-01-09,13:30:00,0
40,40,45415,45415,ACIDENTE,RIO DE JANEIRO,RJ,****,2012-01-30,13:55:00,0

In [11]:
data.loc[:,'ocorrencia_cidade']

0        PORTO ALEGRE
1           GUARULHOS
2              VIAMÃO
3       SÃO SEBASTIÃO
4            SÃO SEPÉ
            ...
5162            JATAÍ
5163          MARACAÍ
5164    NOVO HAMBURGO
5165         CURITIBA
5166        PETROLINA
Name: ocorrencia_cidade, Length: 5167, dtype: object

In [12]:
data.codigo_ocorrencia.is_unique

True

In [13]:
data.head()

,Unnamed: 0,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0
1,1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
2,2,45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06,13:00:00,0
3,3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,0
4,4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06,16:30:00,0

In [16]:
data.loc[4032]

Unnamed: 0                        4032
codigo_ocorrencia                78989
codigo_ocorrencia2               78989
ocorrencia_classificacao     INCIDENTE
ocorrencia_cidade             CAMPINAS
ocorrencia_uf                       SP
ocorrencia_aerodromo             *****
ocorrencia_dia              2019-10-24
ocorrencia_hora               17:40:00
total_recomendacoes                  0
Name: 4032, dtype: object

In [17]:
data.reset_index(drop=True, inplace=True)

In [18]:
data.head()

,Unnamed: 0,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0
1,1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
2,2,45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06,13:00:00,0
3,3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,0
4,4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06,16:30:00,0

In [19]:
data.loc[0,'ocorrencia_aerodromo'] = ''

In [20]:
data.head(1)

,Unnamed: 0,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,,2012-01-05,20:27:00,0

In [21]:
data.loc[1] = 20

In [22]:
data.head(2)

,Unnamed: 0,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,,2012-01-05,20:27:00,0
1,20,20,20,20,20,20,20,20,20,20

In [23]:
data.loc[:,'total_recomendacoes'] = 10

In [24]:
data

,Unnamed: 0,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,,2012-01-05,20:27:00,10
1,20,20,20,20,20,20,20,20,20,10
2,2,45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06,13:00:00,10
3,3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,10
4,4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06,16:30:00,10
...,...,...,...,...,...,...,...,...,...,...
5162,5162,80458,80458,ACIDENTE,JATAÍ,GO,####,2021-12-30,20:30:00,10
5163,5163,80452,80452,ACIDENTE,MARACAÍ,SP,*****,2021-12-31,09:30:00,10
5164,5164,80457,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,10
5165,5165,80460,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,10
5166,5166,80467,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,10

In [27]:
data['ocorrencia_uf_bkp'] = data.ocorrencia_uf

In [28]:
data

,Unnamed: 0,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,,2012-01-05,20:27:00,10,RS
1,20,20,20,20,20,20,20,20,20,10,20
2,2,45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06,13:00:00,10,RS
3,3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,10,SP
4,4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06,16:30:00,10,RS
...,...,...,...,...,...,...,...,...,...,...,...
5162,5162,80458,80458,ACIDENTE,JATAÍ,GO,####,2021-12-30,20:30:00,10,GO
5163,5163,80452,80452,ACIDENTE,MARACAÍ,SP,*****,2021-12-31,09:30:00,10,SP
5164,5164,80457,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,10,RS
5165,5165,80460,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,10,PR
5166,5166,80467,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,10,PE

In [29]:
data.loc[data.ocorrencia_uf == 'SP', ['ocorrencia_classificacao']] = 'GRAVE'

In [30]:
data

,Unnamed: 0,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,,2012-01-05,20:27:00,10,RS
1,20,20,20,20,20,20,20,20,20,10,20
2,2,45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06,13:00:00,10,RS
3,3,45401,45401,GRAVE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,10,SP
4,4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06,16:30:00,10,RS
...,...,...,...,...,...,...,...,...,...,...,...
5162,5162,80458,80458,ACIDENTE,JATAÍ,GO,####,2021-12-30,20:30:00,10,GO
5163,5163,80452,80452,GRAVE,MARACAÍ,SP,*****,2021-12-31,09:30:00,10,SP
5164,5164,80457,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,10,RS
5165,5165,80460,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,10,PR
5166,5166,80467,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,10,PE

In [31]:
data.loc[data.ocorrencia_uf == 'SP']

,Unnamed: 0,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
3,3,45401,45401,GRAVE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,10,SP
5,5,52243,52243,GRAVE,UBATUBA,SP,****,2012-01-06,14:30:00,10,SP
6,6,50713,50713,GRAVE,CAMPINAS,SP,SDAI,2012-01-07,18:15:00,10,SP
13,13,45408,45408,GRAVE,ELDORADO,SP,****,2012-01-11,13:45:00,10,SP
26,26,45410,45410,GRAVE,BRAGANÇA PAULISTA,SP,SDVH,2012-01-21,23:30:00,10,SP
...,...,...,...,...,...,...,...,...,...,...,...
5148,5148,80441,80441,GRAVE,BRAGANÇA PAULISTA,SP,SDVH,2021-12-20,18:15:00,10,SP
5157,5157,80453,80453,GRAVE,CAMPINAS,SP,SBKP,2021-12-29,09:00:00,10,SP
5158,5158,80454,80454,GRAVE,ARAÇATUBA,SP,SBAU,2021-12-29,21:35:00,10,SP
5161,5161,80456,80456,GRAVE,SÃO PAULO,SP,SBSP,2021-12-30,13:15:00,10,SP
5163,5163,80452,80452,GRAVE,MARACAÍ,SP,*****,2021-12-31,09:30:00,10,SP

In [32]:
data

,Unnamed: 0,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,,2012-01-05,20:27:00,10,RS
1,20,20,20,20,20,20,20,20,20,10,20
2,2,45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06,13:00:00,10,RS
3,3,45401,45401,GRAVE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,10,SP
4,4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06,16:30:00,10,RS
...,...,...,...,...,...,...,...,...,...,...,...
5162,5162,80458,80458,ACIDENTE,JATAÍ,GO,####,2021-12-30,20:30:00,10,GO
5163,5163,80452,80452,GRAVE,MARACAÍ,SP,*****,2021-12-31,09:30:00,10,SP
5164,5164,80457,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,10,RS
5165,5165,80460,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,10,PR
5166,5166,80467,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,10,PE

In [34]:
data.head()

,Unnamed: 0,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,,2012-01-05,20:27:00,10,RS
1,20,20,20,20,20,20,20,20,20,10,20
2,2,45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06,13:00:00,10,RS
3,3,45401,45401,GRAVE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,10,SP
4,4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06,16:30:00,10,RS

In [35]:
data.loc[data.ocorrencia_aerodromo == '****', ['ocorrencia_aerodromo']] = pd.NA

In [37]:
data.head()

,Unnamed: 0,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,,2012-01-05,20:27:00,10,RS
1,20,20,20,20,20,20,20,20,20,10,20
2,2,45333,45333,ACIDENTE,VIAMÃO,RS,<NA>,2012-01-06,13:00:00,10,RS
3,3,45401,45401,GRAVE,SÃO SEBASTIÃO,SP,<NA>,2012-01-06,17:00:00,10,SP
4,4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,<NA>,2012-01-06,16:30:00,10,RS

In [39]:
data.replace(['**','###!','####','****','*****','NULL'], pd.NA, inplace=True)

In [41]:
data.isna().sum()

Unnamed: 0                     0
codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  2
ocorrencia_aerodromo        1905
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
ocorrencia_uf_bkp              2
dtype: int64

In [42]:
data.isnull().sum()

Unnamed: 0                     0
codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  2
ocorrencia_aerodromo        1905
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
ocorrencia_uf_bkp              2
dtype: int64

In [ ]:
data.fillna(10, inplace=True)

In [ ]:
data.isnull().sum()